<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script type="module" src="assets/js/render.js"></script>
</head>

<body>
    <h1>Hola mundo dfdf</h1>
    <p>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.
    </p>
    <input type="text" name="message" id="message">
    <button id="btn-msg">Send Message</button>
    <ul id="list-messages"></ul>
</body>

</html>